/* Standard */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: fantasy;
  margin: 20px;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}

.container header {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.container h1 {
  letter-spacing: 10px;
  font-size: 40px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Nav Bar */
.container .navbar {
  background: #000;
  color: #fff;
  padding: 10px 0;
}

.container .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 20px 0;
}

.container .navbar ul li a{
  padding: 10px;
  background: #4439e2;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.container .navbar ul li a:hover {
  background: #fff;
  color: #4439e2;
}

.selection-heading-div {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

/* Data List Items */
.container .space-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.container .space-list .item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  padding: 15px;
  margin-bottom: 20px;
  background: #fff;
  color: #000;
  border-radius: 5px;
}

.mission {
  color: #4439e2;
}

.net {
  color: #880b94;
}

/* Search Window & Form */
.search-window {
  display: flex;
  flex-direction: column;
  background: #4439e2;
  width: 350px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  transform: translateX(-1000px);
  transition: transform 0.5s ease;
}

.search-window.show {
  transform: translateY(0);
}

.search-window .search-form .form-group {
  padding: 5px;
}

.search-window .search-form .form-group label {
  display: block;
}

.search-window .search-form .form-group input, .search-window .search-form .form-group select {
  width: 100%;
  padding: 10px 5px;
  border: 0;
  margin: 5px 0;
  font-size: 1.1rem;
  color: #4439e2;
}

.search-window .search-form .form-group input:focus, .search-window .search-form .form-group select:focus {
  outline: none;
}

.searchBtn:active {
  transform: scale(0.98);
}

/* Astronaut Data */
.astroName {
  color: #4439e2;
  margin-top: 10px;
}

.astroBio {
  font-size: 1rem;
  margin-top: 10px;
}

.astroBorn, .astroDeath {
  font-size: 1.1rem;
}

h3.launchName {
  text-align: center;
}

.noResult {
  text-align: center;
}

/* // Media Queries */
@media(max-width: 400px) and (min-width: 301px){
  .container {
    width: 300px;
  }

  .container h1 {
    letter-spacing: 5px;
    font-size: 36px;
  }

  .container .navbar ul li a{
    display: inline-block;
    padding: 10px 5px;
    width: 70px;
    font-size: 0.9rem;
    text-align: center;
  }

  .search-window {
    width: 300px;
  }
}
